/* 

*/

body {
  /* padding-top: 50px; */
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #333;
}
#slider-wrapper {
  width: 1000px;
  height: 358px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


